@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins: 'Poppins', sans-serif;
    --comforter: "Comforter", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border:1px solid black;
    border-radius: 10px;
    font-family: var(--poppins);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 450px;
    padding-top:20px;
}

.header{
    font-family: var(--comforter);
    font-size: 30px;
}

.credentials{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

input{
    border: none;
    text-align: center;
    border-bottom: 1px solid black;
    font: var(--poppins);
    font-size: small;
}

button{
    border: none;
    background: none;
    font: var(--poppins);
    font-size: small;
    transition: transform 0.3s ease;
}

button:hover{
    transform: translateY(-5px);
    cursor: pointer;
}